<div class="row">
  <div class="small-3 columns">
    <%= link_to image_tag('alexmonkey.jpg', alt: "Comedy Hub",:size => "300x350",:class => "pictures"), "http://comedy-hub.herokuapp.com/comedy_hub" %>
  </div>
 <section class="top-right">
  <div class="small-9 columns">
    <div class="panel"> <p> Hi! My name is Alex. I'm a software engineer with a focus in web development.</p>

      <p>I recently graduated from a developer bootcamp in Boston called the Launch Academy. I moved back in New York City and I am currently looking for a software engineering position that focuses on the full stack of Rails development or a position that focuses on front end web development.</p>

      <p>Before I got the web development bug (GET IT) I was a real estate agent in New York City. Being a real estate agent taught me many things including: how to work directly with clients, how to advertise myself, and how to overcome obsticles. It also taught me that sales wasn't for me. </p>

      <p>One of my favorite things about web developement is the ability to come up with an idea in my head and then build it. I am excited to start working with a company so I can accelerate my learning and build bigger and better applications. </p>
    </section>
    </div>
  </div>
</div>