

  <div class="row">

  <div class="medium-8 small-12 columns">
    <div class="panel"> <p> Hi! My name is Alex. I'm a software engineer with a focus in web development. </p>

      <p>I'm a recent graduate from a developer bootcamp in Boston called the Launch Academy where I learned the full stack of rails developement. I moved back in New York City where I started taking night classes at the General Assembly to become a<i> Start up Swiss Army knife.</i></p>

     <!--  <p> From web development, to design, to technical marketing to product managing I can do it all.</p> -->

      <p>One of my favorite things about web developement is the ability to come up with an idea in my head and then build it. I am excited to start working with a start up to accelerate my skills and accelerate it's growth. </p>
      </div>
    </div>
  </div>

