

  <div class="row">
  <div class="medium-9 small-11 columns">
    <div class="panel"> <p> Hi! My name is Alex. I'm a software engineer with a focus in web development. </p>

      <p>I'm a recent graduate from a developer bootcamp in Boston called the Launch Academy where I learned the full stack of rails developement. I moved back in New York City where I started taking night classes at the General Assembly to become a<i> Start up Swiss Army knife.</i></p>

     <p> From web development, to design, to technical marketing to product managing I can help out in multiple areas.</p>

      </div>
    </div>
      <div class="medium-3 small-11 columns">
         <%= link_to image_tag('phinb.jpg', alt: "Alex Phinizy",:size => "300x350",:class => "pictures"), "http://comedy-hub.herokuapp.com/comedy_hub" %>
      </div>
  </div>



