/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */



.top-bar .name a{
  font-family: 'Permanent Marker', cursive;
 font-size: 40px;
 font-weight: bold;
 color:white;

}

.tech{
  float:left;
  padding-right:50px;
  padding-left:50px;
}

.containers{
  width:900px;
  margin: 0 auto;
}
.techy{
  clear:left;
  padding-left:50px;
}

.github{
  padding:20px 0 10px 50px;

}

.name{
  padding-left:35px;

}

.top-bar-section ul li.active:last-child{
  margin-right:70px;
}

a img{
  height:250px;
  width:325px;
}



.panel{
  margin-top:10px;
}