<div class=container>
  <body>
    <h1 class="name">Alex Phinizy</h1>
    <div class="info">
      <ul>
        <li>605 East 82nd Street, New York, NY, 10028  | </li>
        <li> AlexPhinizy@gmail.com  | </li>
        <li> 917-881-7687</li>
      </ul>
      <ul>
        <li><b>Github</b> - Aphin715 </li>
        <li><b>Blog</b> - www.BlogLogBlaw.com </li>
        <li><b>Twitter</b> - @Aphive </li>
      </ul>
    </div>


      <h2>Technical Skills</h2>
      <div class="tech">
      <p><b>Languages:</b> Ruby, Ruby on the Rails, HTML5, CSS3, Javascript, jQuery</p>
      <p><b>Software:</b> Sublime Text 2, Git, Flowdock</p>
      <p><b>Databases:</b> Postgresql, Sqlite</p>
    </div>

    <div class="exp">
      <h2>Experience</h2>
        <ul> <u><b>Apprentice Web Developer</b></u>, <em>Launch Academy</em> <span class="date"> 08/13-10/13</span>
          <li>Practical knowledge gained via guided instruction and coding challenges.</li>
          <li>Collaborated with teams in order to solve complex problems throughout the cohort.</li>
          <li>Built my own "breakable app," which was built on the Rails web framework with a PostgreSQL
          database while incorporating client-side technologies such as HTML/CSS/SASS, Javascript and jQuery.</li>
      </ul>

      <ul><b> <u>Real Estate Agent,</b></u><em> Citi-Habitats</em> <span class="date">02/12 - 08/13</span>
        <li>Generated $65,000 dollars in total revenue for my company through sales and rentals.</li>
        <li> Created my own advertisements for Craigslist and Naked Apartments.</li>
        <li>Uncovered client's needs and then recommended appropriate apartments for them.</li>
        <li>Maintained long-term relationships with clients through extensive follow-up.</li>
      </ul>

      <ul> <u><b>Leasing Agent,</b></u> <em>City and Suburban</em><span class="date">10/11-02/12</span>
        <li> Displayed residential properties to clients and explained their features.</li>
        <li> Created and published advertisements on Craigslist, Streeteasy, Trulia, Zillow and Postlets</li>
        <li>Interviewed clients to determine what kind of properties they are seeking.</li>
      </ul>
    </div>


    <h2>Education</h2>
      <div class="education">
        <p><b>Bachelor of Science,</b> Marketing</br>
        University of Pittsburgh, 2009</p>
      </div>

  </div>



  </body>